:root {
    --base-padding: 0px;
    --base-blur: 0px;
    --base-brightness: 1;
    --base-color: #0095ff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    background-color: azure;
    text-align: center;
}

h1, h3 {
    font-weight: normal;
}

.container {
    margin-bottom: 20px;
}

input {
    margin-right: 20px;
    margin-bottom: 20px;
}

#js {
    color: var(--base-color);
}

img {
    max-width: 500px;
    padding: var(--base-padding);
    background: var(--base-color);
    filter: blur(var(--base-blur)) brightness(var(--base-brightness));
}